output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.netlify
.vercel
**/pnpm-store
.DS_Store

.data
.mastra

src/mastra/public

/workspace/notes
/workspace/sources
/workspace/publications
/workspace/archive